.container {

    @media (max-width: 1300px) {
        max-width: 1270px;
    }

    @media (max-width: 1024px) {
    max-width: 994px;
    }

    @media (max-width: 1024px) {
    max-width: 994px;
    }

    @media (max-width: 740px) {
    max-width: 710px;
    }
    
    @media (max-width: 360px) {
    max-width: 330px;
    padding: 0 10px;
    }
}