@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// === mixin ===

@mixin Roboto {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

// === / mixin ===

// === common ===
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    @include Roboto;
    background-color: #101010;
    color:#fff;
}


.container {
    max-width: 1280px;
    margin: 25px auto 0 auto;

}

h3 {
    font-weight: 600;
    font-size: 64px;
    line-height: 90%;
}

// === / common ===

// === header ===

.section-header {
    text-align: center;
}

.header-menu {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 400px;
    height: 50px;
    border: 1px solid #444444;
    border-radius: 10px;
}

.header-menu-boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-right: 1px solid #444444;
}

.header-menu-sticks {
    display: flex;
    align-items: center;
}

.header-menu-burger {
    width: 50px;
    border-left: 1px solid #444444;
}

// === header ===

// === hero ===

.section-hero {
    min-height: 1600px;
    text-align: center;
    margin-bottom: 100px;
}

.hero-logo {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 160px;
    margin-top: 80px;
    color: #fff;
    text-transform: uppercase;
}

.hero-description {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    max-width: 1000px;
    color: #fff;
    margin: 40px auto;
}

.hero-btns-wrapper {
    display: flex;
    justify-content: center;
}

.hero-btns {
    cursor: pointer;
    display: block;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 22px;
    color: #101010;
    background: #4CC67F;
    border-radius: 30px;
    padding: 20px 34px;
    border: none;
}

.hero-btns-left:hover {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.hero-btns-right {
    display: flex;
    align-items: center;
    margin-left: 10px;
    background: #373737;
    color: #fff;
}


.hero-btns-right:hover {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
}

.hero-btns-right-iconplay {
    margin-right: 5px;
}

.hero-img-bg {  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


// === / hero ===

// === headlines ===

.section-headlines {
    margin-bottom: 150px;
    h2 {
        @include Roboto;
        font-size: 96px;
        font-weight: 500;
    }
}


.headlines-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.headlines-text {
    flex: 1;
    margin-left: 40px;
}


.headlines-product {
    display: flex;
    font-size: 94px;
    font-weight: 500;
    line-height: 140%
}

.headlines-information {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 94px;
    font-weight: 500;
    line-height: 140%
}

.headlines-information::before {
    content: "";
    top: 50%;
    left: 0;
    position: absolute;
    display: block;
    height: 7px;
    width: 268px;
    border-radius: 10px;
    background-color: #fff;
}


.headlines-management {
    display: flex;
    justify-content: end;
    position: relative;
    font-size: 94px;
    font-weight: 500;
    line-height: 140%
}

.headlines-management::before {
    content: "";
    top: 50%;
    left: 0;
    position: absolute;
    display: block;
    height: 7px;
    width: 460px;
    border-radius: 10px;
    background-color: #fff;
}

// === / headlines ===

// === topseller ===

.section-topseller {
    margin-bottom: 170px;
    h4 {
        @include Roboto;
        font-weight: 500;
        font-size: 40px;
        line-height: 140%;
    }
    h1 {
        @include Roboto;
        font-weight: 600;
        font-size: 248px;
    }
}

.topseller-content {
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include Roboto;
    font-weight: 600;
    font-size: 248px;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, blue, fuchsia);
}

// === / topseller ===

// ===  dashboard ===

.section-dashboard {
    margin-bottom: 60px;
}

.dashboard-images {
    margin-bottom: 40px;
}

.notification-images {
    margin-right: 36px;
}

// ===  / dashboard ===

// ===  do-it-better ===

.section-do-it-better {
    margin-bottom: 120px;
}

.do-it-better-headlines {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.do-it-better-center {
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    color: #fff;
}

.do-it-better-right {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    ul {
        margin-top: 20px;
        line-height: 170%;
    }
}

.do-it-better-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(3, 0.9fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
}

.do-it-better-center_item-1 { grid-area: 1 / 1 / 2 / 2; };
.do-it-better-center_item-2 { grid-area: 1 / 2 / 2 / 3; };
.do-it-better-center_item-3 { grid-area: 1 / 3 / 2 / 4; };
.do-it-better-center_item-4 { grid-area: 2 / 2 / 3 / 3; };
.do-it-better-center_item-5 { grid-area: 2 / 3 / 3 / 4; };
.do-it-better-center_item-6 { grid-area: 3 / 2 / 4 / 3; };
.do-it-better-center_item-7 { grid-area: 3 / 3 / 4 / 4; };

// === / do-it-better ===

// === section-cards ===

.section-cards {
    margin-bottom: 60px;
}

// === / section-cards ===

.section-together {
    padding: 60px 0;
    span {
        color:#A5A1FF;
    }
}


.together-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.together-wrapper-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding: 30px;
    min-width: 310px;
    max-width: 410px;
    min-height: 260px;
    border-radius: 30px;
    background-color: #A5A1FF;
    &-header {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #000;
    }
    &-text {
        font-weight: 600;
        font-size: 70px;
        line-height: 140%;
        color: #000;
    }
}

// === / section-cards ===


// === section-advantages ===

.section-advantages {
    color:#000;
    padding: 60px 0;
    background-color: #fff;
    span {
        color: #27AE60;
    }
}

.advantages-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages-wrapper-left{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    &-reason {
        font-weight: 600;
        font-size: 48px;
        line-height: 90%;
        color: #101010;
    }

    &-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #555555;
    }
}

.advantages-wrapper-right {
    background-color: #2b5876;
    border-radius: 200px;
    height: 200px;
    display: flex;
    width: 100%;
    justify-content: center;
}




















